.hero-wrapper {
    margin-top: 0.5rem;
}

.hero-bg-container {
    position: relative;
    height: 600px;
    width: 100vw;
    overflow: hidden;
}

.hero-content-wrapper {
    display: grid;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-img {
    width: 100%;
    height: inherit;
  }
  
  .overlay-img img {
    display: block;
    width: 100%;
  }
  
  .overlay-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
  }

.hero-text-wrapper {
    width: 50%;
    text-align: left;
    margin: auto;
}

.hero-header {
    font-size: 3rem;
    line-height: 1;
    color: white;
    font-weight: 700;
}

.hero-subheader {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: white;
    font-weight: 700;
}

.hero-search-btn {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    background-color: #faf8f8;
    padding: 1rem;
    border-radius: 5px;
    gap: 0.5rem;
}

@media screen and (max-width: 600px ) {
    .hero-bg-container {
        height: 300px;
    }
    .hero-text-wrapper {
        width: 100%;
        padding-left: 2rem;
    }
    .hero-header {
        font-size: 2rem;
    }
    
    .hero-subheader {
        font-size: 0.8rem;
        line-height: 0.75rem;
    }
    
    .hero-btn {
        display: none;
    }
}