.nav-wrapper {
    display: flex;
    justify-content: center; 
    padding: 1rem;
    height: 40px;
}

.logo-wrapper {
    width: 50px;
    height: 40px;
}

.logo-img {
    width: 80%;
}

.search-wrapper {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    background-color: #e5e5e5;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    gap: 0.5rem;
}

.search-input {
    width: 100%;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
.search-input:focus {
    outline: none;
}
.nav-btn-wrapper {
    display: flex;
    align-items: center;
}
.btn-common {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-text, .hero-list-text a {
    padding: 0.75rem;
    background: transparent;
    border: none;
    white-space: nowrap;
    color: #a3a3a3;
}

.btn-submit {
    padding: 0.5rem 0.75rem;
    color: #a3a3a3;
    border: 1px solid #a3a3a3;
    border-radius: 0.25rem;
    background-color: transparent;
    margin-left: 0.5rem;
}

.btn-hamburger {
    padding: 0 0.95rem;
    background-color: transparent;
    border: none;
    width: 4rem;
}
.divider {
    width: 1px;
    height: 1.5rem; 
    background-color: #a3a3a3;
}

.search-icon {
    width: 1.25rem;
    height: 1.25rem;
}

@media screen and (max-width: 768px){
    .btn-common,.divider, .btn-submit {
        display: none;
    }
}